<div class="panel panel-default top7">
  <div class="panel-heading">
    <h1 class="panel-title">Primary Groups</h1>
  </div>
  <div class="panel-body list-group">
    <% @top_level_groups.each do |group| %>
      <%= link_to group, class: "list-group-item" do %>
        <span class="lead">
          <span class="glyphicon glyphicon-folder-close"></span>
          <%= group.name %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<p><strong>Warning: We are currently under active development, and cannot guarantee the privacy of data posted to this site.</strong><p>
