<table>
  <thead>
    <tr>
      <th>Top Level Groups</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_level_groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<p>================================</p>
