<div class="container">
  <h1>Home#index</h1>
  <%= @rendered.html_safe %>
</div>

<!-- {{#section}}
  {{#radio}}
    {{#option value="0"}}
      Don't followup
    {{/option}}
    {{#option value="1" followup="true"}}
      Do followup
    {{/option}}
  {{/radio}}

  {{#followup}}
    {{#section}}

    {{/section}}
  {{/followup}}
{{/section}}



{{#section}}
  {{radio}}
    {{#option value="1"}}Yes{{/option}}
    {{#option value="0"}}No{{/option}}
  {{/radio}}
  {{radio}}
    {{#option value="1"}}Yes{{/option}}
    {{#option value="0"}}No{{/option}}
  {{/radio}}

  {{#branch}}
    {{#section}}

    {{/section}}
  {{/branch}}

  {{#branch}}
    {{#section}}

    {{/section}}
  {{/branch}}
{{/section}} -->
