<div ng-controller="formbuilder" >
  <h1 class="text-center"><%= @form.name %></h1>

  <form novalidate name="theform" class="theform">
    <%= @compiled %>
    <div class="hide" ng-init="init()"></div>
  </form>
</div>
