<%= link_to group_form_path(@group, @form), class: "btn btn-sm btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
  Back
<% end %>
<br>
<br>
<p>
  <strong>User:</strong>
  <% if @response.respondent.nil? %>
    Anonymous Response
  <% else %>
    <%= @response.respondent.username %>
  <% end %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @response.answers %>
</p>

<p>
  <strong>Form:</strong>
  <%= @form.name %>
</p>
